/* CAROUSEL BANNER SECTION */
.carousel-bg {
    @apply carousel-item relative w-full h-[90vh] bg-cover;
}

.carousel-content {
    @apply text-white text-center flex items-center ml-[100px];
}

.carousel-sub-heading {
    @apply text-2xl text-secondary font-bold uppercase;
}

.carousel-heading {
    @apply text-5xl text-primary uppercase font-bold;
}

.carousel-btns {
    @apply absolute bottom-[50px] right-[50px] flex gap-3 transform justify-between;
}

.carousel-left-btn {
    @apply btn btn-circle border-none bg-secondary;
}

.carousel-left-btn:hover {
    @apply bg-secondary text-white
}

.carousel-right-btn {
    @apply btn btn-circle border-none bg-primary;
}

.carousel-right-btn:hover {
    @apply bg-primary text-secondary
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -moz-transform: translateY(200px);
        -ms-transform: translateY(200px);
        -o-transform: translateY(200px);
}

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
}

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ---------------- */
/* SHOPPING FACILITIES SECTION */
.shopping-facilities {
    @apply mx-8 py-0 mb-20 border border-primary;
}

.shopping-facilities-layout {
    @apply grid grid-cols-2 place-items-center py-8 gap-y-6;
}

.facility-item {
    @apply flex items-center gap-x-4;
}

.item-icon {
    @apply text-primary text-4xl;
}

.item-content {
    @apply flex flex-col gap-1.5;
}

.item-content>h6 {
    @apply font-bold;
}

.item-content>p {
    @apply text-[#999]
}

/* ----------------------- */
/* FEATURED CATEGORIES SECTION */
.category-item-card {
    @apply bg-white flex flex-col items-center text-center py-5;
}

.category-item-card:hover {
    @apply shadow-xl;
}

.category-item-card-title {
    @apply text-lg font-semibold text-[#999];
}

.category-item-card-title:hover {
    @apply text-primary
}

/* ----------------------- */
/* FEATURED PRODUCTS SECTION */
.card-container {
    @apply bg-base-100 w-full shadow-md pt-10 px-4 pb-4;
}

/* Deal Of The Day Card */
.deal-of-the-day .product-name {
    @apply text-black text-xl font-semibold;
}

.deal-of-the-day .product-name:hover {
    @apply text-primary;
}

.deal-of-the-day .old-price {
    @apply text-[#999] line-through
}

.deal-of-the-day .new-price {
    @apply text-secondary text-2xl font-bold
}

/* Countdown Timer */
.timer-container {
    @apply flex text-center justify-between items-center;
}

.timer-box {
    @apply flex flex-col items-center justify-center border-2 border-[#ddd] py-3 px-2;
}

.timer-box>h5 {
    @apply text-primary text-xl font-semibold leading-tight;
}

.timer-box>p {
    @apply text-sm text-[#999]
}

/* ######################### */

/* Weekly Featured Product Card */
.weekly-product-single-card {
    @apply grid grid-cols-3 items-center py-2 border-b-2
}

.weekly-product-single-card:hover {
    @apply shadow-md
}

.weekly-product-single-card:last-child {
    @apply border-none
}

.weekly-product-name {
    @apply text-[#999] leading-4 my-2 text-sm
}

.weekly-product-name:hover {
    @apply text-secondary;
}

.weekly-product-price {
    @apply text-[#0886cf] text-lg font-semibold;
}
/* ----------------------------- */

/* OFFER BIG BANNER SECTION */
.big-banner-container {
    @apply grid grid-cols-2 gap-x-8 w-full;
}

.big-single-banner {
    @apply relative transition-all ease-in;
}

.big-single-banner:hover {
    @apply opacity-70
}

.big-single-banner-content {
    @apply absolute top-[50%] left-0 p-10 z-50 text-white -translate-y-1/2 space-y-2.5 cursor-pointer;
}

.big-single-banner-content>h5 {
    @apply uppercase text-primary;
}

.big-single-banner-content>h4 {
    @apply uppercase text-3xl leading-7;
}

.big-single-banner-content>div {
    @apply bg-transparent w-20 border-b-2 border-primary;
}

.big-single-banner-content>p {
    @apply w-[75%] text-sm;
}

/* ------------------------ */
/* NEW ARRIVAL PRODUCTS SECTION */
.new-arrival-slider {
    @apply border-y border-l border-[#ddd] mt-8;
}

.new-arrival-slider:last-child {
    @apply border-r;
}

.new-arrival-slider-card {
    @apply bg-base-100 cursor-pointer;
}

.new-arrival-item-content {
    @apply flex flex-col gap-1.5 items-center text-center px-2 pt-0 p-4;
}

.new-arrival-item-price {
    @apply flex items-center gap-1 text-[#999];
}

/* ------------------------ */
/* TESTIMONIAL SECTION */
.testimonial-bg-img {
    @apply absolute left-0 top-0 w-[150%] h-full bg-cover bg-center bg-[url(/images/testimonial/bg-1.jpg)];
}

.testimonial-content {
    @apply relative z-10 py-20 px-28 text-center flex flex-col items-center space-y-8;
}

.testimonial-comment {
    @apply text-base-100 text-xl bg-black bg-opacity-30 border border-white border-opacity-30 py-12 px-10 leading-relaxed;
}

/* ------------------- */
@media (max-width: 768px) {

    /* CAROUSEL BANNER SECTION */
    .carousel-bg {
        @apply hidden;
        /* @apply carousel-item relative w-full h-[90vh] bg-cover; */
    }

    /* SHOPPING FACILITIES SECTION */
    .shopping-facilities {
        /* @apply mx-8 py-0 mb-20 border border-primary; */
        @apply hidden;
    }

    /* ----------------------- */

    /* FEATURED CATEGORIES SECTION */
    .category-item-card {
        /* @apply bg-white flex flex-col items-center text-center py-5; */
        @apply hidden;
    }

    /* ----------------------- */

    /* FEATURED PRODUCTS SECTION */
    .card-container {
        @apply hidden;
        /* @apply bg-base-100 w-full shadow-md pt-10 px-4 pb-4; */
    }

    /* ----------------------------- */

    /* OFFER BIG BANNER SECTION */
    .big-banner-container {
        /* @apply grid grid-cols-2 gap-x-8 w-full; */
        @apply hidden;
    }

    /* ------------------------ */

    /* NEW ARRIVAL PRODUCTS SECTION */
    .new-arrival-slider {
        /* @apply border-y border-l border-[#ddd] mt-8; */
        @apply hidden;
    }

    /* ------------------------ */

    /* TESTIMONIAL SECTION */
    .testimonial-bg-img {
        @apply hidden;
        /* @apply absolute left-0 top-0 w-[150%] h-full bg-cover bg-center bg-[url(/images/testimonial/bg-1.jpg)]; */
    }
}