/* CAROUSEL BANNER SECTION */
.carousel-bg {
    @apply carousel-item relative w-full h-[90vh] bg-cover;
}

.carousel-content {
    @apply text-white text-center flex items-center ml-[100px];
}

.carousel-sub-heading {
    @apply text-2xl text-secondary font-bold uppercase;
}

.carousel-heading {
    @apply text-5xl text-primary uppercase font-bold;
}

.carousel-btns {
    @apply absolute bottom-[50px] right-[50px] flex gap-3 transform justify-between;
}

.carousel-left-btn {
    @apply btn btn-circle border-none bg-secondary;
}

.carousel-left-btn:hover {
    @apply bg-secondary text-white
}

.carousel-right-btn {
    @apply btn btn-circle border-none bg-primary;
}

.carousel-right-btn:hover {
    @apply bg-primary text-secondary
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -moz-transform: translateY(200px);
        -ms-transform: translateY(200px);
        -o-transform: translateY(200px);
}

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
}

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ---------------- */
/* SHOPPING FACILITIES SECTION */
.shopping-facilities {
    @apply mx-8 py-0 mb-20 border border-primary;
}

.shopping-facilities-layout {
    @apply grid grid-cols-2 place-items-center py-8 gap-y-6;
}

.facility-item {
    @apply flex items-center gap-x-4;
}

.item-icon {
    @apply text-primary text-4xl;
}

.item-content {
    @apply flex flex-col gap-1.5;
}

.item-content>h6 {
    @apply font-bold;
}

.item-content>p {
    @apply text-[#999]
}

/* ----------------------- */
/* FEATURED CATEGORIES SECTION */
.category-item-card {
    @apply bg-white flex flex-col items-center text-center py-5;
}

.category-item-card:hover {
    @apply shadow-xl;
}

.category-item-card-title {
    @apply text-lg font-semibold text-[#999];
}

.category-item-card-title:hover {
    @apply text-primary
}

/* ----------------------- */