/* MOBILE OR SMALL SCREEN (All Sizes) (DEFAULT) */
/* *** TRANSITION *** */
.uren-transition {
    @apply transition-all duration-500 ease-in-out;
}
/* *** SHARED *** */
.slider-layout {
    @apply mx-6 mt-12 relative;
}

.uren-slider {
    @apply border-y border-l border-uren-border w-full;
}

.slider-btns .left-btn {
    @apply left-6;
}

.slider-btns .right-btn {
    @apply right-6;
}

.slider-nav-btn {
    @apply absolute top-1/2 translate-y-[-50%] bg-[#ccc] text-dark p-2.5 rounded uren-transition z-[997];
}

.slider-nav-btn:hover {
    @apply bg-base-100 outline outline-1 outline-primary;
}

/* *** CAROUSEL BANNER SECTION *** */
.carousel-bg {
    @apply h-full bg-cover bg-center py-[60px] px-6;
}

.carousel-content {
    @apply text-white;
}

.carousel-text {
    @apply space-y-4;
}

.carousel-sub-heading {
    @apply text-base text-secondary font-bold uppercase leading-tight;
}

.carousel-heading {
    @apply text-3xl text-primary uppercase font-bold;
}

.carousel-content-divider {
    @apply h-1 w-16 bg-secondary rounded;
}

.carousel-description {
    @apply text-sm w-full pb-4;
}

/* *** SHOPPING FACILITIES SECTION *** */
.shopping-facilities {
    @apply border border-primary p-6 grid grid-cols-1 gap-6;
}

.facility-item {
    @apply flex flex-col items-center text-center;
}

.item-icon {
    @apply text-primary text-4xl mb-2;
}

.item-content {
    @apply space-y-1 text-sm;
}

.item-content>h6 {
    @apply font-bold uppercase text-dark-gray;
}

.item-content>p {
    @apply text-body;
}

/* *** FEATURED CATEGORIES SECTION *** */
.category-item-card {
    @apply bg-base-100 flex flex-col items-center text-center border-r border-uren-border;
}

.category-item-card:hover {
    @apply shadow-xl;
}
.category-card-content {
    @apply p-6 pt-0;
}

.category-card-title {
    @apply font-semibold text-body uppercase text-base mb-2 uren-transition;
}

.category-card-title:hover {
    @apply text-primary
}

/* *** FEATURED PRODUCTS SECTION *** */
.featured-products {
    @apply px-6 py-12 bg-gray-bg space-y-6;
}

.card-container {
    @apply bg-base-100 w-full shadow-md p-6 pt-8;
}

/* --- DEAL OF THE DAY CARD --- */
.deal-of-the-day .product-name {
    @apply text-dark text-base font-medium uren-transition leading-snug;
}

.deal-of-the-day .product-name:hover {
    @apply text-primary;
}

.deal-of-the-day .old-price {
    @apply text-body line-through
}

.deal-of-the-day .new-price {
    @apply text-secondary text-2xl font-bold
}

/* --- COUNTDOWN TIMER --- */
.timer-container {
    @apply flex text-center justify-between items-center;
}

.timer-box {
    @apply flex flex-col items-center justify-center border border-uren-border p-3;
}

.timer-container .colon {
    @apply font-bold text-xl text-body;
}

.timer-box>h5 {
    @apply text-primary text-xl font-semibold leading-tight;
}

.timer-box>p {
    @apply text-sm text-body;
}

.card-container .card-height {
    @apply h-[50vh] overflow-y-auto mt-4;
}

.horizontal-product-card {
    @apply grid grid-cols-3 gap-x-3 items-center py-3 border-b-2 uren-transition;
}

.horizontal-product-card:hover {
    @apply shadow-md
}

.horizontal-product-card:last-child {
    @apply border-none
}

.horizontal-product-card .product-name {
    @apply text-body leading-none my-2 uren-transition;
}

.horizontal-product-card .product-name:hover {
    @apply text-primary;
}

.horizontal-product-card .new-price {
    @apply text-secondary text-lg font-semibold;
}

.horizontal-product-card .old-price {
    @apply text-body line-through text-sm;
}



/* TABLET OR MEDIUM SCREEN (All Sizes) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* *** SHARED *** */
    .slider-layout {
        @apply mx-8 mt-16;
    }

    .slider-btns .left-btn {
        @apply left-8;
    }

    .slider-btns .right-btn {
        @apply right-8;
    }

    .slider-nav-btn {
        @apply p-3;
    }

    /* *** CAROUSEL BANNER SECTION *** */
    .carousel-bg {
        @apply px-8 py-28 text-center;
    }

    .carousel-text {
        @apply space-y-5;
    }

    .carousel-sub-heading {
        @apply text-2xl;
    }

    .carousel-heading {
        @apply text-5xl;
    }

    .carousel-content-divider {
        @apply h-1 w-20 mx-auto;
    }

    .carousel-description {
        @apply text-sm w-3/4 mx-auto;
    }
    /* *** SHOPPING FACILITIES SECTION *** */
    .shopping-facilities {
        @apply grid grid-cols-2 place-items-center py-8 gap-8;
    }

    /* *** FEATURED PRODUCTS SECTION *** */
    .featured-products {
        @apply px-8 py-16 space-y-0 grid grid-cols-2 gap-8;
    }

    .card-container .card-height {
        @apply h-[42vh];
    }

}


/* DESKTOP OR LARGE SCREEN (All Sizes)*/
@media (min-width: 1025px) {
    /* *** SHARED *** */
    .slider-layout {
        @apply mx-10 mt-20;
    }
    .slider-btns .left-btn {
        @apply left-10;
    }

    .slider-btns .right-btn {
        @apply right-10;
    }

    .slider-btns {
        @apply hidden transition-transform ease-in-out duration-500;
    }

    .slider-container:hover .slider-btns {
        @apply block;
    }

    .slider-nav-btn {
        @apply p-4 rounded-md;
    }

    /* *** CAROUSEL BANNER SECTION *** */
    .carousel-bg {
        @apply grid grid-cols-3 px-10 py-44;
    }

    .carousel-content {
        @apply text-center col-span-2 items-center;
    }

    .carousel-text {
        @apply space-y-5;
    }

    .carousel-sub-heading {
        @apply text-2xl;
    }

    .carousel-heading {
        @apply text-5xl;
    }

    .carousel-content-divider {
        @apply w-24 mx-auto;
    }

    .carousel-description {
        @apply w-2/3 mx-auto;
    }
    /* *** SHOPPING FACILITIES SECTION *** */
    .shopping-facilities {
        @apply grid grid-cols-2 place-items-center py-10 gap-10;
    }

    .facility-item {
        @apply flex flex-row gap-6 items-center text-start;
    }

    .item-icon {
        @apply mb-0;
    }
    /* *** FEATURED PRODUCTS SECTION *** */
    .featured-products {
        @apply px-8 py-20 space-y-0 grid grid-cols-4 gap-8;
    }

    .card-container {
        @apply bg-base-100 w-full shadow-md pt-10 p-6;
    }

    .card-container .card-height {
        @apply h-[72vh];
    }

    /* --- DEAL OF THE DAY --- */
    .deal-of-the-day .product-name {
        @apply text-lg;
    }
}

/* CAROUSEL BANNER ANIMATIONS */
/* Animation Style 01 */
.slick-active.animation-style-01 .carousel-text>h5 {
    animation: 1200ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

.slick-active.animation-style-01 .carousel-text>h2 {
    animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp !important;
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

.slick-active.animation-style-01 .carousel-text>div {
    animation: 1600ms ease-in-out 0s normal none 1 running zoomInUp !important;
    -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

.slick-active.animation-style-01 .carousel-text>p {
    animation: 1800ms ease-in-out 0s normal none 1 running zoomInUp !important;
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

.slick-active.animation-style-01 .carousel-text>.primary-btn {
    animation: 2000ms ease-in-out 0s normal none 1 running zoomInUp !important;
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

/* Animation Style 02 */
.slick-active.animation-style-02 .carousel-text>h5 {
    animation: 1400ms ease-in-out 0s normal none 1 running zoomInRight !important;
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInRight !important;
}

.slick-active.animation-style-02 .carousel-text>h2 {
    animation: 1600ms ease-in-out 0s normal none 1 running zoomInRight !important;
    -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInRight !important;
}

.slick-active.animation-style-02 .carousel-text>div {
    animation: 1800ms ease-in-out 0s normal none 1 running zoomInRight !important;
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running zoomInRight !important;
}

.slick-active.animation-style-02 .carousel-text>p {
    animation: 2000ms ease-in-out 0s normal none 1 running zoomInRight !important;
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running zoomInRight !important;
}

.slick-active.animation-style-02 .carousel-text>.primary-btn {
    animation: 2200ms ease-in-out 0s normal none 1 running zoomInRight !important;
    -webkit-animation: 2200ms ease-in-out 0s normal none 1 running zoomInRight !important;
}

/* ----------------------- */