/* MOBILE OR SMALL SCREEN (All Sizes) (DEFAULT) */
/* *** LAYOUTS *** */
.products-page-layout {
    @apply grid grid-cols-1 gap-6;
}

.products-sidebar {
    @apply space-y-6 w-full;
}

.products-list-layout {
    @apply grid grid-cols-1 gap-6 mt-6;
}

/* *** SIDEBAR ITEMS *** */
.sidebar-item-container {
    @apply bg-gray-bg p-6 border border-uren-border w-full;
}

.item-collapse-btn {
    @apply flex justify-between items-center cursor-pointer;
}

.item-heading {
    @apply uppercase font-bold;
}

.divider-1 {
    @apply bg-uren-border w-full h-[3px];
}

.divider-2 {
    @apply bg-primary h-[3px] w-16 absolute top-0 left-0;
}

.list-items-container {
    @apply overflow-hidden mt-2;
}

.container-open {
    @apply opacity-100 overflow-y-auto max-h-60;
}

.container-close {
    @apply max-h-0 opacity-0;
}
.list-items {
    @apply text-body;
}
.list-item {
    @apply py-2 pr-4 border-b uppercase border-uren-border flex justify-between items-center;
}

.list-item:hover {
    @apply shadow-md text-primary;
}
.active-list-item {
    @apply  text-blue;
}
.cross-btn {
    @apply text-xl rotate-45 text-secondary;
}
/* --- PRICE FILTER --- */
.form-layout {
    @apply grid grid-cols-2 gap-4 mt-3;
}

.form-label {
    @apply text-sm font-medium text-body;
}
.from-input {
    @apply w-full p-2 mt-1 text-sm border border-uren-border rounded-none outline-none focus:border-primary;
}
.form-button {
    @apply bg-primary text-dark text-sm font-semibold w-full rounded-none py-2;
}
.clear-filter-button {
    @apply bg-base-100 border border-primary text-dark-gray rounded-none py-2 px-6 text-sm font-medium;
}
.form-button:hover, .clear-filter-button:hover {
    @apply drop-shadow-md;
}
.indicator-text {
    @apply text-xs text-blue font-normal text-center;
}


/* TABLET OR MEDIUM SCREEN (All Sizes) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* *** LAYOUTS *** */
    .products-page-layout {
        @apply grid grid-cols-2 gap-8;
    }
    .products-sidebar {
        @apply space-y-8;
    }
    
    .products-list-layout {
        @apply grid grid-cols-1 gap-8 mt-8;
    }

    /* *** SIDEBAR ITEMS *** */
    .sidebar-item-container {
        @apply p-8;
    }
    .item-collapse-btn {
        @apply hidden;
    }

    .item-heading {
        @apply text-lg;
    }
    .container-open {
        @apply max-h-[350px];
    }
    .list-item {
        @apply text-sm
    }
}

/* DESKTOP OR LARGE SCREEN (All Sizes)*/
@media (min-width: 1025px) {

    /* *** LAYOUTS *** */
    .products-page-layout {
        @apply grid grid-cols-4 gap-10;
    }

    .products-sidebar {
        @apply space-y-10;
    }

    .products-list {
        @apply col-span-3;
    }
    .products-list-layout {
        @apply grid grid-cols-3 gap-10 mt-10;
    }

    /* *** SIDEBAR ITEMS *** */
    .item-collapse-btn {
        @apply hidden;
    }

    .item-heading {
        @apply text-xl;
    }

    .divider-2 {
        @apply w-20;
    }

    .container-open {
        @apply max-h-[400px];
    }
}

.animate-fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    -webkit-animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}