@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Work Sans', sans-serif;
  }
}
/* *** TRANSITIONS *** */
.uren-transition {
  @apply transition-all duration-500 ease-in-out;
}
.animate__animated.animate__slideInUp {
  --animate-duration: 1s;
}

.rolling-element {
  width: 100px;
  height: 100px;
  background-color: blue;
  /* Define the animation */
  animation: rollUp 2s ease-in-out forwards;
  transform-origin: top center;
  /* Important for rotation around the bottom edge */
}

@keyframes rollUp {
  0% {
    transform: rotateX(0deg);
    /* Start flat */
  }

  100% {
    transform: rotateX(90deg);
    /* Rotate up to a vertical position */
  }
}