@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLL UP BUTTON */
.scroll-up-btn {
    @apply fixed right-4 bottom-4 w-12 h-12 flex items-center z-[100] justify-center rounded-full bg-secondary text-base-100 text-lg transition;
}

.scroll-up-btn:hover {
    @apply bg-primary;
}
/* ------------------------- */

/* BUTTONS */
/* Primary Button */
.primary-btn {
    @apply bg-primary text-black px-10 py-3 font-semibold uppercase shadow-md rounded-md transition-all ease-in-out duration-500;
}

.primary-btn:hover {
    @apply text-base-100 shadow-xl bg-secondary transition-all ease-in-out duration-500;
}

/* Add To Cart Button */
.add-to-cart-btn {
    @apply bg-primary flex justify-center items-center gap-x-2 p-3 font-semibold uppercase;
}

.add-to-cart-btn:hover {
    @apply shadow-lg;
}

/* Outline Button */
.outline-btn {
    @apply border p-3 font-semibold text-[#999] text-center transition-all duration-500 ease-in-out;
    border: 1px solid #ddd
}

.outline-btn:hover {
    @apply bg-primary text-base-100 border-primary shadow-lg;
}
/* SHOP NOW BUTTON */
.shop-now-btn {
    @apply bg-primary text-black uppercase px-3 py-2 font-semibold rounded-md shadow-md transition-all ease-in
}

.shop-now-btn:hover {
    @apply bg-secondary text-base-100
}

/* ----------------------- */

/* Page Breadcrumb */
.breadcrumb-bg {
    @apply relative text-base-100 text-center w-full bg-cover bg-center;
}

.breadcrumb-bg-overlay {
    @apply bg-black bg-opacity-70 w-full h-full p-0 m-0 absolute text-center flex flex-col items-center justify-center;
}

.breadcrumb-title {
    @apply text-center text-4xl font-bold uppercase;
}

/* --------------- */

/* BLOG's STYLE */
.blog-layout {
    @apply grid grid-cols-4 gap-x-8;
}

.blog-image {
    @apply relative cursor-pointer transform ease-in-out duration-300 pb-4;
}

.blog-image:hover {
    @apply opacity-60
}

.blog-date {
    @apply absolute top-0 right-0 z-50 bg-secondary text-base-100 font-semibold text-sm px-3 py-1;
}

.blog-title {
    @apply text-lg text-black font-semibold leading-tight mb-2 transition-all ease-in-out duration-300;
}

.blog-title:hover {
    @apply text-secondary transition-all ease-in-out duration-300;
}

.blog-description {
    @apply text-sm text-[#999];
}

.blog-description .read-more {
    @apply text-secondary font-semibold transition-all ease-in-out duration-500;
}

.blog-description .read-more:hover {
    @apply underline transition-all ease-in-out duration-500;
}

/* ----------------------- */

/* NEWSLETTER SECTION */
.newsletter-bg {
    @apply bg-fixed bg-center bg-cover;
}

.newsletter-content {
    @apply z-10 bg-black bg-opacity-70 text-center py-20 w-full h-full text-base-100;
}

.newsletter-heading {
    @apply text-3xl font-semibold mb-2;
}

.newsletter-form {
    @apply mt-10 w-1/2 flex mx-auto;
}

.newsletter-form>input {
    @apply w-full pl-5 py-3
}

.newsletter-submit-btn {
    @apply bg-primary uppercase px-12 py-3 font-bold text-black transition-all ease-in-out duration-300
}

.newsletter-submit-btn:hover {
    @apply bg-secondary text-base-100;
}

/* ------------------ */
/* Error Not Found Page */
.error404 {
    @apply my-20 text-center
}

.error404 h1 {
    @apply text-primary text-8xl font-bold pb-3
}

.error404 h2 {
    @apply text-[#999] text-3xl font-bold pb-5
}

.error404 p {
    @apply w-4/12 text-[#999] text-sm mx-auto
}

.error-search-form {
    @apply mt-6 mb-8 mx-auto border border-[#e5e5e5] flex gap-x-3 justify-between items-center w-3/12
}

.error-search-form input {
    @apply text-start text-sm py-2 w-full px-3 outline-none
}

.error-search-form button {
    @apply pr-3 text-xl text-[#999] transition-all ease-in-out duration-300
}

.error-search-form button:hover {
    @apply text-primary transition-all ease-in-out duration-300
}

.back-to-home-btn {
    @apply bg-primary text-white font-bold text-xs py-3 px-7 uppercase transition-all ease-in-out duration-500
}

.back-to-home-btn:hover {
    @apply bg-[#999] transition-all ease-in-out duration-500
}

/* -------------------- */
/* FOOTER */
/* Top Part */
.top-footer-layout {
    @apply text-base-100 px-8 py-20 grid grid-cols-6 gap-x-8;
}

.footer-aside {
    @apply col-span-2 space-y-8
}

.footer-description {
    @apply text-sm text-[#999]
}

.footer-contacts {
    @apply space-y-3 text-sm text-[#999]
}

.footer-contacts-heading {
    @apply text-base-100 font-semibold
}

.footer-actions {
    @apply text-lg p-3 rounded-full;
}

.footer-actions:hover {
    @apply bg-opacity-40
}

.footer-nav-heading {
    @apply text-base-100 font-bold uppercase;
}

.footer-nav-item-list {
    @apply flex flex-col text-[#999] gap-y-3;
}

.footer-nav-link {
    @apply transition-all ease-in-out duration-500 text-[#999];
}

.footer-nav-link:hover {
    @apply text-primary underline;
}
/* Bottom Part */
.bottom-footer-layout {
    @apply text-[#999] border-[#333] border-t px-10 py-6 flex items-center justify-between;
}

/* ------------------------ */
/* CAROUSEL BANNER ANIMATIONS */
/* Animation Style 01 */
.slick-active.animation-style-01 .carousel-text>h5 {
    animation: 1200ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

.slick-active.animation-style-01 .carousel-text>h2 {
    animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp !important;
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

.slick-active.animation-style-01 .carousel-text>div {
    animation: 1600ms ease-in-out 0s normal none 1 running zoomInUp !important;
    -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

.slick-active.animation-style-01 .carousel-text>p {
    animation: 1800ms ease-in-out 0s normal none 1 running zoomInUp !important;
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

.slick-active.animation-style-01 .carousel-text>.primary-btn {
    animation: 2000ms ease-in-out 0s normal none 1 running zoomInUp !important;
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running zoomInUp !important;
}

/* Animation Style 02 */
.slick-active.animation-style-02 .carousel-text>h5 {
    animation: 1400ms ease-in-out 0s normal none 1 running zoomInLeft !important;
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInLeft !important;
}

.slick-active.animation-style-02 .carousel-text>h2 {
    animation: 1600ms ease-in-out 0s normal none 1 running zoomInLeft !important;
    -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInLeft !important;
}

.slick-active.animation-style-02 .carousel-text>div {
    animation: 1800ms ease-in-out 0s normal none 1 running zoomInLeft !important;
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running zoomInLeft !important;
}

.slick-active.animation-style-02 .carousel-text>p {
    animation: 2000ms ease-in-out 0s normal none 1 running zoomInLeft !important;
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running zoomInLeft !important;
}

.slick-active.animation-style-02 .carousel-text>.primary-btn {
    animation: 2200ms ease-in-out 0s normal none 1 running zoomInLeft !important;
    -webkit-animation: 2200ms ease-in-out 0s normal none 1 running zoomInLeft !important;
}

/* ----------------------- */