/* TOP NAVBAR */
.top-nav-bg{
    @apply navbar bg-base-100 flex justify-between px-8 py-5;
}

.search-input{
    @apply h-[60px] pl-5 pr-10 focus:outline-none border border-primary rounded-s-lg;
}

.search-btn{
    @apply bg-primary px-5 py-4 rounded-e-lg font-bold uppercase text-lg;
}

.nav-cart-btn {
    @apply border border-primary rounded-lg px-5 py-1
}
.nav-phone-btn{
    @apply border border-primary rounded-lg flex items-center;
}

.nav-phone-num {
    @apply flex items-center gap-x-2 px-5 py-[14px] text-2xl font-semibold text-secondary;
}

/* ------------------------ */
/* BOTTOM NAVBAR */
.btm-nav-bg {
    @apply bg-primary px-8 py-0 flex justify-between items-center gap-x-10;
}

.category-list-heading {
    @apply bg-[#000] cursor-pointer text-base-100 flex justify-between items-center py-[14px] px-4 transition-all ease-in-out duration-300;
}

.category-list-heading-text {
    @apply uppercase flex-col font-semibold pl-4 pr-20 leading-none;
}

.category-list {
    @apply absolute left-0 hidden w-full bg-base-100 shadow-lg border border-primary border-t-0 animate-fadeIn;
    z-index: 100;
}

.dropdown:hover .category-list {
    @apply block;
}

.dropdown-list {
    @apply absolute right-0 hidden w-max bg-base-100 border border-primary border-t-0 p-3 shadow-lg animate-fadeIn;
    z-index: 100;
}

.dropdown:hover .dropdown-list {
    @apply block;

}

.dropdown-list-item {
    @apply p-2
}

.dropdown-list-item:hover {
    @apply bg-gray-100 text-secondary
}

/* FadeIn Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
    -webkit-animation: fadeIn 0.5s ease-in-out;
}

/* -------------------- */
/* STICKY NAVBAR */
.sticky-navbar {
    @apply fixed top-0 left-0 right-0 z-[9999] bg-primary shadow-lg transition-transform duration-500 ease-in-out px-8 flex justify-between items-center;
}

.cart-items-qty {
    @apply absolute -top-1.5 -right-1.5 bg-secondary text-base-100 rounded-full px-1.5 text-sm font-semibold;
}

/* -------------------- */