/* 🔹 Mobile Devices (Default) */
/* Small device hidden for medium & large device */
.md-top-nav,
.large-device-top-nav {
    @apply hidden;
}

/* NAVBAR TOP PART FOR SMALL DEVICES */
.sm-top-nav {
    @apply py-8 px-6;
}

.sm-top-nav .uren-logo {
    @apply mx-auto mb-6;
}

.sm-top-navbar {
    @apply flex justify-between items-center;
}
.nav-cart-btn {
    @apply border border-primary py-1 flex gap-5 items-center px-12;
}
.sidebar-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 z-40 transition-opacity duration-500 ease-in-out;
}

    .menu-sidebar {
        @apply fixed top-0 right-0 h-full bg-white opacity-95 shadow-lg z-50 animate-fadeIn;
    }

    .sidebar-close-btn {
        @apply absolute top-0 left-[-46px] text-3xl bg-secondary text-base-100 px-2 py-[15px]
    }

    .sidebar-search-form {
        @apply bg-[#eee] flex justify-between items-center;
    }

    .sidebar-search-input {
        @apply w-full px-8 py-5 text-sm bg-[#eee] outline-none;
    }

    .sidebar-search-btn {
        @apply text-xl text-[#999] p-5;
    }

    .sidebar-nav-list {
        @apply space-y-2 text-[#999] font-semibold mt-8 mx-8;
    }

    .nav-phone-num {
        @apply flex items-center justify-center gap-3 border border-primary py-2.5 text-xl font-semibold text-secondary;
}

/* 🔹 Tablet Devices */
@media (min-width: 768px) and (max-width: 1024px) {

    /* medium device hidden for small & large device */
    .sm-top-nav,
    .large-device-top-nav {
        @apply hidden;
    }

    .navbar-top-part {}

    .md-top-nav {
        @apply py-10 px-8 flex items-center justify-between;
    }
    }

    /* 🔹 Large Devices */
    @media (min-width: 1025px) {
        .navbar-top-part {}

        /* large device hidden for small & medium device */
        .sm-top-nav,
        .md-top-nav {
            @apply hidden;
        }

        .large-device-top-nav {
            @apply block;
        }
}

/* FadeIn Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
    -webkit-animation: fadeIn 0.5s ease-in-out;
}