/* 🔹 Mobile Devices (Default) */
/* NAVBAR TOP PART FOR SMALL DEVICES */
/* Small device hidden for medium & large device */
.md-top-nav,
.lg-top-nav,
.md-bottom-nav,
.lg-bottom-nav,
.sticky-navbar {
    @apply hidden;
}
.sm-top-nav {
    @apply p-6;
}
.sm-top-nav .uren-logo {
    @apply mx-auto mb-6;
}
.sm-top-navbar {
    @apply flex justify-between items-center;
}
.nav-cart-btn {
    @apply border border-primary py-1 flex gap-5 items-center px-12;
}
.sidebar-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 z-40 transition-opacity duration-500 ease-in-out;
}
.menu-sidebar {
    @apply fixed top-0 right-0 h-full bg-white opacity-95 shadow-lg z-50 animate-fadeIn;
}
.sidebar-close-btn {
    @apply absolute top-0 left-[-46px] text-3xl bg-secondary text-base-100 px-2 py-[15px] transition-all ease-in-out duration-300;
}
.sidebar-search-form {
        @apply bg-[#eee] flex justify-between items-center;
}
.sidebar-search-input {
        @apply w-full px-8 py-5 text-sm bg-[#eee] outline-none;
}
.sidebar-search-btn {
        @apply text-xl text-[#999] p-5;
}
.sidebar-nav-list {
        @apply space-y-2 text-[#999] font-semibold mt-8 mx-8;
}
.nav-phone-num {
    @apply flex items-center justify-center gap-3 border border-primary py-2.5 text-xl font-semibold text-secondary;
}

/* NAVBAR BOTTOM PART FOR SMALL DEVICES */
.sm-bottom-nav {
    @apply bg-primary px-6;
}

.category-list-heading {
    @apply bg-[#000] text-base-100 flex justify-between items-center py-4 px-8;
}

.category-list-heading-text {
    @apply uppercase font-semibold leading-none;
}

.category-list {
    @apply z-[100] absolute left-0 px-6 py-2 font-normal w-full max-h-[40vh] overflow-y-auto bg-base-100 shadow-lg border border-primary border-t-0 animate-fadeIn;
}

.category-arrow {
    @apply text-3xl transition-transform duration-500 ease-in-out
}
.dropdown:hover .category-list {
    @apply block;
}

.dropdown-list-item {
    @apply p-2;
}

.dropdown-list-item:hover {
    @apply bg-gray-100 text-secondary
}

/* 🔹 Tablet Devices */
@media (min-width: 768px) and (max-width: 1024px) {

    /* medium device hidden for small & large device */
    .sm-top-nav,
    .lg-top-nav,
    .sm-bottom-nav,
    .lg-bottom-nav {
        @apply hidden;
    }
    /* NAVBAR TOP PART FOR MEDIUM DEVICES */
    .md-top-nav {
        @apply py-10 px-8 flex items-center justify-between;
    }
    /* NAVBAR BOTTOM PART FOR MEDIUM DEVICES */
    .md-bottom-nav {
    @apply bg-primary px-8 py-4 flex gap-x-8 items-center;
    }

    .category-list-heading {
        @apply bg-[#000] text-base-100 flex items-center py-3 px-6;
    }

    .category-list-heading-text {
        @apply uppercase flex-col items-center justify-evenly font-semibold leading-none;
    }

    .category-list {
        @apply py-3 max-h-[50vh];
    }

    .lg-search-form {
        @apply flex w-2/3;
    }

    .lg-search-input {
        @apply h-[60px] pl-5 pr-10 outline-none w-full;
    }

    .lg-search-btn {
        @apply bg-[#000] text-base-100 flex items-center px-5 py-4 font-semibold uppercase text-lg;
    }
    /* STICKY NAVBAR */
    .sticky-navbar {
        @apply fixed top-0 left-0 right-0 z-[9999] bg-primary shadow-lg transition-transform duration-500 ease-in-out px-8 flex justify-between items-center;
    }

    .cart-items-qty {
        @apply absolute -top-1.5 -right-1.5 bg-secondary text-base-100 rounded-full px-1.5 text-sm font-semibold;
    }

    .main-nav {
        @apply flex gap-6 items-center;
    }

    .main-nav-items {
        @apply font-bold uppercase transition-all ease-in-out duration-300;
    }

    .dropdown-list {
        @apply absolute right-0 hidden w-max bg-base-100 border border-primary border-t-0 p-3 shadow-lg animate-fadeIn;
        z-index: 100;
    }

    .dropdown:hover .dropdown-list {
        @apply block;
    }

    .dropdown-list-item {
        @apply p-2;
    }

    .dropdown-list-active {
        @apply text-secondary;
    }

    .dropdown-list-item:hover {
        @apply bg-gray-100 text-secondary
    }
}

/* 🔹 Large Devices */
@media (min-width: 1025px) {
    /* large device hidden for small & medium device */
    .sm-top-nav,
    .md-top-nav,
    .sm-bottom-nav,
    .md-bottom-nav {
            @apply hidden;
    }
    /* NAVBAR TOP PART FOR LARGE DEVICES */
    .lg-top-nav {
        @apply navbar bg-base-100 flex justify-between px-8 mt-5 mb-8;
    }

    .lg-search-input {
        @apply h-[60px] pl-5 pr-10 outline-none border border-primary rounded-s-lg;
    }

    .lg-search-btn {
        @apply bg-primary px-5 py-4 rounded-e-lg font-bold uppercase text-lg;
    }

    .nav-cart-btn,
    .nav-phone-num {
        @apply rounded-lg;
    }

    .nav-phone-num {
        @apply py-4 px-12;
    }
    /* NAVBAR BOTTOM PART FOR LARGE DEVICES */
    .lg-bottom-nav {
        @apply bg-primary px-8 py-0 mt-5 flex justify-between items-center gap-x-10;
    }

    .category-list-heading {
        @apply bg-[#000] cursor-pointer text-base-100 flex justify-between items-center py-[14px] px-4 transition-all ease-in-out duration-300;
    }

    .category-list-heading-text {
        @apply uppercase flex-col font-semibold pl-4 pr-20 leading-none;
    }

    .category-list {
        @apply hidden py-4 max-h-[60vh];
        }

        .category-list-heading:hover .category-arrow {
            @apply rotate-180
    }

    .main-nav {
        @apply flex gap-8 items-center;
    }

    .main-nav-items {
        @apply font-bold uppercase transition-all ease-in-out duration-300;
    }

    .main-nav-items:hover {
        @apply text-secondary;
    }

    .dropdown:hover .category-list {
        @apply block;
    }

    .dropdown-list {
        @apply absolute right-0 hidden w-max bg-base-100 border border-primary border-t-0 p-3 shadow-lg animate-fadeIn;
        z-index: 100;
    }

    .dropdown:hover .dropdown-list {
        @apply block;
    }

    .dropdown-list-item {
        @apply p-2;
    }

    .dropdown-list-active {
        @apply text-secondary;
    }

    .dropdown-list-item:hover {
        @apply bg-gray-100 text-secondary
    }

    /* Right Side Dropdown items */
    .lg-bottom-nav .nav-right-side {
        @apply flex items-center gap-x-8;
    }

    .nav-right-side .dropdown-header {
        @apply flex items-center gap-x-1;
    }

    .language-dropdown-item {
        @apply dropdown-list-item flex gap-x-2;
    }

    .language-dropdown-item:hover,
    .dropdown-header:hover {
        @apply cursor-pointer;
    }
    /* STICKY NAVBAR */
    .sticky-navbar {
        @apply fixed top-0 left-0 right-0 z-[9999] bg-primary shadow-2xl transition-transform duration-500 ease-in-out px-8 flex justify-between items-center;
    }

    .cart-items-qty {
        @apply absolute -top-1.5 -right-1.5 bg-secondary text-base-100 rounded-full px-1.5 text-sm font-semibold;
    }
}

/* FadeIn Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
    -webkit-animation: fadeIn 0.5s ease-in-out;
}